.pokemon-card-container {
  display: grid;
  box-shadow: 0px 0px 5px #00000033;
  border-radius: 4px;
  padding: 5px 10px;
  list-style-type: none;
  cursor: pointer;

  &:hover {
    transform: translateY(-8px);
    transition: all 0.3s;
    box-shadow: 0 2px 2px 0.5px rgb(0, 0, 0, 0.6);
  }
}

.pokemon-card-img {
  width: 150px;
  height: 150px;
  justify-self: center;

  @media screen and (max-width: 767px) {
    width: 120px;
    height: 120px;
  }

  @media screen and (max-width: 479px) {
    width: 250px;
    height: 250px;
  }
}
