.pokemon-details-container {
  display: flex;
  flex-direction: column;

  border-radius: 4px;
  box-shadow: 0px 0px 5px #00000033;
  max-width: 100%;
  padding: 0 12px 64px 12px;
  margin: 0 0 24px 0;
}

.pokemon-details-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 100%;

  @media screen and (max-width: 767px) {
    grid-template-columns: none;
  }
}

.pokemon-details-img {
  width: 350px;
  height: 350px;
  justify-self: center;

  @media screen and (max-width: 479px) {
    width: 250px;
    height: 250px;
  }
}

.pokemon-details-description {
  display: grid;
  margin: 16px;
  gap: 24px;
  max-width: 100%;

  p {
    margin: 0;
  }

  @media screen and (max-width: 767px) {
    gap: 12px;
  }
}

.pokemon-details-title {
  display: grid;
  max-width: 100%;
  gap: 12px;
  grid-template-columns: auto 30px;
  align-items: center;
}

.pokemon-details-name {
  margin: 22px 0;
  max-width: 100%;
  height: 50px;
  font-size: 100%;
  font-weight: bold;

  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 4px 8px;
}

.pokemon-details-edit {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.pokemon-details-weight-height {
  display: grid;
  grid-template-columns: repeat(2, minmax(25px, auto));
  gap: 4px;

  p:first-of-type {
    grid-column: 1 / span 2;
    color: rgb(80, 80, 80);
    font-weight: bold;
  }
}
