.input-details-container {
  input {
    max-width: 100%;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 4px 8px;
  }

  p:first-of-type {
    color: rgb(80, 80, 80);
    font-weight: bold;
  }
}
