.pokemonlist-container {
  display: flex;
  flex-direction: column;
}

.pokemonlist-list {
  grid-column: 1 / span 3;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 10px 10px;
  overflow: hidden;
}
