.evolutions-container {
  display: grid;

  box-shadow: 0px 0px 8px #00000033;
  border-radius: 4px;
  margin: 12px 8px;
  padding: 16px 24px;

  label:first-of-type {
    justify-self: center;
    font-size: 20px;
    font-weight: bold;
  }
}

.evolutions-list {
  display: grid;
  justify-items: center;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(110px, auto));

  @media screen and (max-width: 479px) {
    grid-template-columns: none;
  }
}

.evolutions-item {
  display: grid;
  list-style-type: none;

  grid-template-columns: auto auto;
  align-items: center;
  justify-items: center;

  label:first-of-type {
    grid-column: 1 / span 2;
  }

  @media screen and (max-width: 479px) {
    grid-template-columns: none;

    label:first-of-type {
      grid-column: 1;
    }
  }
}

.evolutions-img {
  width: 250px;
  height: 250px;

  @media screen and (max-width: 1199px) {
    width: 150px;
    height: 150px;
  }

  @media screen and (max-width: 767px) {
    width: 110px;
    height: 110px;
  }
}

.evolutions-arrow-right {
  width: 20px;
  height: 20px;
  margin: 0 0 0 5px;

  @media screen and (max-width: 479px) {
    visibility: hidden;
  }
}

.evolutions-arrow-down {
  width: 20px;
  height: 20px;
  margin: 0 0 0 5px;
  visibility: hidden;

  @media screen and (max-width: 479px) {
    visibility: visible;
  }
}
