.input-search-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 15px;

  @media screen and (min-width: 479px) {
    width: 250px;
    align-self: flex-end;
  }

  svg:hover {
    cursor: pointer;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 8px 16px;
    font: 14px/19px PT Sans;
    height: 32px;
    background: white;
  }
}
