.type-details-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 4px;
}

.type-details-title {
  color: rgb(80, 80, 80);
  font-weight: bold;
}

.type-details {
  display: grid;
  grid-template-columns: 25px auto;
  align-items: center;
  gap: 4px;

  p {
    margin: 0 0 0 2px;
  }

  img {
    width: 25px;
    height: 25px;
  }
}
