.attacks-container {
  display: grid;
  justify-items: center;
  grid-template-columns: auto auto;
  gap: 5px;
  box-shadow: 0px 0px 8px #00000033;
  border-radius: 4px;
  margin: 12px 8px;
  padding: 16px 24px;

  label:first-of-type {
    justify-items: center;
    grid-column: 1 / span 2;
    font-size: 20px;
    font-weight: bold;
  }

  @media screen and (max-width: 479px) {
    padding: 8px 16px;
  }
}

.attacks-list {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 4px;

  width: 100%;

  p:first-of-type {
    justify-self: center;
    color: rgb(90, 90, 90);
    font-weight: bold;
  }
}

.attacks {
  display: grid;
  grid-template-columns: 25px 25px auto;
  align-items: center;

  p {
    margin: 0 0 0 2px;
  }

  img {
    width: 25px;
    height: 25px;
  }

  @media screen and (max-width: 479px) {
    grid-template-columns: repeat(auto-fill, minmax(25px, auto));

    p:nth-of-type(2) {
      grid-column: 1 / span 2;
      min-width: 130px;
    }
  }
}
