.types-container {
  display: grid;
  gap: 2px;
}

.types {
  display: flex;
  align-items: center;
  justify-items: center;

  p {
    margin: 0 0 0 3px;
  }
  img {
    width: 25px;
    height: 25px;
  }
}
